@import url(https://fonts.googleapis.com/css?family=Chewy);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);
* { margin:0; padding:0; box-sizing:border-box; }
body {
	text-align: center;
	font-family: 'Slabo 27px', serif;
	color: #000;
	line-height: 1.5em;
}
h1 {
	font-size: 4em;
	font-family: 'Chewy', cursive;
	letter-spacing: 5px;
}
#slogan {
	font-style: italic;
	font-size: 1.5em;
}
header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

nav {
    background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
}
nav a {
	display:inline-block;
	margin:0 1em;
	padding:.5em 1em;
}
#description {
    background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;
}
footer {
    background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}
h1 {
    background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}

#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

#left { 
    background-color: #E582A2;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 50%;
}

#right {
    background-color: #E55B88;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 50%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
