@import url(https://fonts.googleapis.com/css?family=Chewy);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);

body {
	text-align: center;
	font-family: 'Slabo 27px', serif;
	color: #000;
	line-height: 1.5em;
}
h1 {
	font-size: 60px;
	font-family: 'Chewy', cursive;
	letter-spacing: 5px;
}
#slogan {
	font-style: italic;
	font-size: 25px;
}
ul {text-align: right;
    list-style-type: none;
}
li {
	display: inline;
	padding: 10px;
}
p {
	margin: 0 10em;
}
img {
	display: block;
	width: 100%;
}
header {
    background-color: FFED74;
    border: 1px black solid;
    padding: 20px;
}
nav {
    background-color: E8C66A;
    border: 1px black solid;
    padding: 20px;
}
#description {
    background-color: E89C6C;
    border: 1px black solid;
    padding: 20px;
}
footer {
    background-color: FF957E;
    border: 1px black solid;
    padding: 20px;
}
h1 {
    background-color: FFE2B8;
    border: 1px black solid;
    padding: 20px;
}